<!DOCTYPE html>
<html>
  <head>
    <title>Paytest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

  <body style="background-color:rgba(42, 124, 180, .5) !important;background-image: -webkit-linear-gradient(270deg, #8e43f4, #8e43f4) !important;width:100%!important; height:100%!important  ">


    <%= yield %>

  </body>
</html>
